# Google Apps Script Web App URL (Deploy as Web App, Access: Anyone)
NEXT_PUBLIC_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycbx_YOUR_APPS_SCRIPT_ID/exec

# Target Google Spreadsheet ID
NEXT_PUBLIC_SPREADSHEET_ID=12-6xda9qQIzYGZFLAr7X3cjrFN_G_4sfBUYHWjBHAAo
